
###> symfony/framework-bundle ###
/src/.env.local
/src/.env.local.php
/src/.env.*.local
/src/config/secrets/prod/prod.decrypt.private.php
/src/public/bundles/
/src/var/
/src/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/src/.phpunit.result.cache
/src/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/src/phpunit.xml
/src/.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/src/.php-cs-fixer.php
/src/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###


comandos.txt
